# STAT3612 Data Mining (2018-19 Semester 2)
## Tutorial Class 2 Introduction to Python Programming (Part 2)
### _Prepared by Dr. Gilbert Lui_

### Table of Contents:


* [Further Topics of Python Programming](#further)

    * [Control Flow Statements](#control)
    
    * [Exception Handling](#err)

    * [Looping Statements](#loop)

    * [Functions](#func)

## Further Topics of Python Programming<a class="anchor" id="futher"></a>

### Control Flow Statements<a class="anchor" id="control"></a>

Typically, the statements `if`, `elife` and `else` are used to control the program flow and repeating task will be introduced in next section.

In [1]:
x = 4
if x < 0:
    print('it is negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than five')
else:
    print('Positive and larger than or equal to five')

Positive but smaller than five

To control program flow in a single line, the `if-then-else` statement can be used.

In [2]:
x = 7
parity = 'even' if x % 2 == 0 else 'odd'
print(parity)

odd

For complicated situations, compound condition is necessary to control the program flow.

In [3]:
x = 3
if x > 0 and x < 5:
    print('Between 0 and 5')
else:
    print('Out of range')

Between 0 and 5

In [4]:
y = 'a'
if y == 'a' or y == 'b':
    print('Hit!')
else:
    print('Not hit!')

Hit!

### Exception Handling<a class='anchor' id='err'></a>

Consider the following example in which `float()` returns a floating point number.

In [5]:
float('something')

ValueError: could not convert string to float: 'something'

To avoid the above ValueError, a function can be defined to handle this exceptional case.

In [6]:
def attempt_float(x):
    try:
        return float(x)
    except: # on error do the next statement
        return x

In [7]:
attempt_float('something')

'something'

#### Errors can be listed in an `except` statement.

In [8]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError: # on ValueError do the next statement
        return x

In [9]:
attempt_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [10]:
def attempt_float(x):
    try:
        return float(x)
    except (ValueError,TypeError): # on ValueError or TypeError do the next statement
        return x

In [11]:
attempt_float((1,2))

(1, 2)

#### Different actions for different types of errors.

In [12]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return print('This is a ValueError')
    except TypeError:
        return print('This is a TypeError')

In [13]:
attempt_float((1,2))

This is a TypeError

In [14]:
attempt_float("some string")

This is a ValueError

In [15]:
def attempt_float(x):
    try:
        return float(x)
    except (ValueError,TypeError): # on ValueError or TypeError do the next statement
        return x

### Looping Statements<a class="anchor" id="loop"></a>

   * [for-loop](#for)
   
   * [Abbreviated form of for-loop](#abbrev)
   
   * [while-loop](#while)

#### for-loop<a class='anchor' id='for'></a>

In [16]:
for x in range(4):
    print(x)

0
1
2
3

In [17]:
for word in ["scientific", "computing", "with", "python"]:
    print(word)

scientific
computing
with
python

`continue` statement changes the control to the top of the for-loop.

In [18]:
seq = [1,2,None,4,None,5]
total = 0
for value in seq:
    if value is None:
        continue
    total += value

In [19]:
total

12

The above for-loop can be rewritten as

In [20]:
total = 0
for value in seq:
    if value != None:
        total += value

In [21]:
total

12

A for-loop is used to sum elements in a list until the value of 5 is acheived. Indeed, when the `break` statement is encountered in the following example, the for-loop is terminated.

In [22]:
seq = [1,2,0,4,6,5,2,1]
total_until_5 = 0
for value in seq:
    if value == 5:
        break
    total_until_5 += value

In [23]:
total_until_5

13

#### Abbreviated form of for-loop<a class='anchor' id='abbrev'></a>
                      
for-loop can be expressed in **abbreviation form** and this technique is particularly useful for data conversion.

In [24]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2] # convert all strings to upper cases if the length of string is greater than 2.

['BAT', 'CAR', 'DOVE', 'PYTHON']

If the original for-loop syntax is used, it can be expressed as

In [25]:
output_list = []
for string in strings:
    if len(string) > 2:
        output_list.append(string.upper())
output_list

['BAT', 'CAR', 'DOVE', 'PYTHON']

Furthermore, abbreviation form can be used in the nested for-loop case. In the following example, the names with the character 'e' will be stored to a list.

In [26]:
all_data = [['Tom', 'Billy', 'Jefferson', 'Andrew', 'Wesley', 'Steven', 'Joe'],
           ['Susie', 'Casey', 'Jill', 'Ana', 'Eva', 'Jennifer', 'Stephanie']]
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e')>1]
    names_of_interest.extend(enough_es)
# Note that extend() method is used here to extend a list to another list
# while append() method appends an element to current list

In [27]:
names_of_interest

['Jefferson', 'Wesley', 'Steven', 'Jennifer', 'Stephanie']

In more compact form of nested for-loop,

In [28]:
result = [name for names in all_data for name in names if name.count('e')>1]
print(result)

['Jefferson', 'Wesley', 'Steven', 'Jennifer', 'Stephanie']

In the following example, the list of tuples is converted into a list of numbers.

In [29]:
some_tuple = [(1,2,3),(4,5,6),(7,8,9)]
flattened = [x for tup in some_tuple for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### while-loop<a class='anchor' id='while'></a>

Consider the following while-loop in which the value of x is summed until x < 0 or total > 500.

In [30]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

In [31]:
x, total

(4, 504)

Consider the following program which generates the **SAME** output.

In [32]:
x = 256
total = 0
while x > 0:
    if total <= 500:
        total += x
    x = x // 2

In [33]:
x, total

(0, 504)

### Functions<a class="anchor" id="func"></a>

A function is defined to return a single value.

In [34]:
def my_function(x,y,z=1.5):
    if z > 1:
        return z*(x+y)
    else:
        return z/(x+y)

In [35]:
my_function(5,6,z=0.7)

0.06363636363636363

In this example, a function is define to return a tuple.

In [36]:
def sum_and_product(x,y):
    return (x+y),(x*y)

In [37]:
sp = sum_and_product(5,10)
print(sp)

(15, 50)

In [38]:
s,p = sum_and_product(5,10)
print(s)
print(p)

15
50

Typically, the value of a variable within a function cannot be accessed outside the function unless it is declared as a **global** variable within the function and initialized as None outside the function.

In [39]:
a = None # a=None must be specified prior the global statement
def func():
    global a
    a = []
    for i in range(5):
        a.append(i)

In [40]:
a # value of a is retained.

#### Lambda function

Lambda function is used to define a function without function name. Typically, it is handy to use this technique when this function is used temporarily.

In [41]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = [4,0,1,5,6]
apply_to_list(ints, lambda x:x**2)
# lambda defines a simple function
# In this case, it returns the squared value of the input.

[16, 0, 1, 25, 36]

In [42]:
strings = ['foo','card','bar','aaaa','abab']
strings.sort(key=lambda x:len(set(list(x))))
# For each word in strings, we first count its number of distinct
# characers. Then, strings are sorted according to the number of
# distinct characters of its elements.
strings

['aaaa', 'foo', 'abab', 'bar', 'card']